name: Publish

on:
  push:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  # Never cancel in progress jobs to ensure code is deployed
  cancel-in-progress: false

permissions:
  contents: write
  issues: write
  pull-requests: write

jobs:
  run-tests:
    name: Tests
    uses: ./.github/workflows/test.yaml

  publish:
    name: Publish Extension
    needs: [run-tests]
    runs-on: ubuntu-latest
    timeout-minutes: 20
    env:
      FORCE_COLOR: "1"
    steps:
      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          fetch-depth: 0
          token: ${{ secrets.KONGPONENTS_BOT_PAT }}

      - name: Setup PNPM with Dependencies
        uses: ./.github/actions/setup-pnpm-with-dependencies/

      - name: Configure Git
        run: |
          git config user.email "konnectx-engineers+kongponents-bot@konghq.com"
          git config user.name "Kong UI Bot"

      - name: Version the package and generate changelog with semantic-release
        id: semantic-release
        uses: cycjimmy/semantic-release-action@ba330626c4750c19d8299de843f05c7aa5574f62 # v5.0.2
        env:
          # Since branch protections are on (pushing commits) you need to use a bot PAT
          GITHUB_TOKEN: ${{ secrets.KONGPONENTS_BOT_PAT }}

      - name: Build extension package
        if: steps.semantic-release.outputs.new_release_published == 'true'
        run: pnpm package

      # - name: Publish extension to marketplace
      #   if: steps.semantic.outputs.new_release_published == 'true'
      #   run: pnpm publish
