name: Tests

on:
  pull_request:

  # Allow workflow to be called by another workflow
  workflow_call:

  # Allow calling manually from GitHub
  workflow_dispatch:

jobs:
  test:
    name: Lint, Type Check, and Test
    runs-on: ubuntu-latest
    timeout-minutes: 20
    permissions:
      contents: read
    env:
      FORCE_COLOR: "1"
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Setup PNPM with Dependencies
        uses: ./.github/actions/setup-pnpm-with-dependencies/
        with:
          force-install: true
          save-cache: true

      - name: Lint
        run: pnpm lint

      - name: Typecheck
        run: pnpm typecheck

      - name: Unit tests
        run: pnpm test:unit

      # We build and package here to ensure the build process works before merging to main
      - name: Build and package extension
        # TODO: Eventually remove --pre-release flag when ready for stable releases
        run: pnpm package --pre-release

      - name: Extension tests
        # Command must be run with xvfb-run to provide a virtual framebuffer for VS Code UI tests
        run: xvfb-run -a pnpm test:extension

